@charset "UTF-8";

* {
    font-family: sans-serif;
}
/* ヘッダースタイリング */
.header {
  height: 80px;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header__container {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  color: #fff;
  padding: 0 50px;
  margin-right: auto;
  margin-left: auto;
}

.header__logo a {
  text-decoration: none;
  font-size: 30px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
}
.hamburger {
  width: 50px;
  height: 80px;
  position: relative;
  appearance: none;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: black;
  cursor: pointer;
}

.hamburger span {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: all 0.5s;
}
.hamburger span,
.hamburger span::before,
.hamburger span::after {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: all 0.5s;
}

.hamburger span::before {
  top: 10px;
}

.hamburger span::after {
  bottom: 10px;
}

.nav {
  position: fixed;
  width: 60%;
  height: 100vh;
  top: 80px;
  background-color: black;
  padding: 50px 0;
  transition: all 0.5s;
  border-top: #fff 1px solid;
}

.nav__item a {
  display: block;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  padding: 20px 0 20px 50px;
  text-transform: uppercase;
}

.nav__item a:hover {
  background-color: #fff;
  color: black;
}

.hamburger.open span {
  background-color: transparent;
}

.hamburger.open span::before {
  transform: rotate(45deg);
  top: 0;
}

.hamburger.open span::after {
  transform: rotate(-45deg);
  bottom: 0;
}

.nav {
  /* 先ほどのCSSに追加 */
  right: -100%;  /* 画面右端のさらに外へ配置 */
}

.nav.open {
  right: 0;      /* クリックされたら、画面内にスライドイン */
}

.main1{
  width: 100vw;
  height: 93vh;
  /* /*消す予定 */
  background-color: yellow;
  margin-top: 50px;
  background-image: url(../img/531984937_1065672889014416_53595589730337324_n.jpg);
  
}

.main2{
  width: 100vw;
  background-image:url(/assets/img/531984937_1065672889014416_53595589730337324_n.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.gaiyou{
  border: solid black 3px;
  margin: 10px 30px;
  width: 95vw;
  height: 30vh;
  background-image: url(/assets/img/530678560_2005189683349741_7609845033930916312_n.jpg);
}
.gaiyou_photo{
  width:20vw ;
  height:40vh ;
  /* 後で消す予定 */
  background-color: antiquewhite;
}

.start{
  width: 100vw;
  height: 93vh;

}

.pressToStart{
  border: 5px solid pink;
  height: 100px;
  width: 100vw;
  position: fixed;
  top: 700px;


}

.hazimeru a{
  /* position: fixed;
  width: 1000px;
  height:100px ;
  background-color: transparent; 
  border: none;      
  font-size: 100px;
  letter-spacing: 10px;
  font-weight: bolder;
  /* color: transparent; */
  /* color: red;
  border: 3px blue solid;
  text-decoration: none;
  text-decoration-color: gold;
  top: 2000px;
  left: 35vw;
  z-index: 1000; */ 
  
  

}

#enemy_hp{
  width: 200px;
  height: 400px;
  background-color: antiquewhite;



}

#player_hp{
  width: 200px;
  height: 400px;
  background-image: url(/assets/img/530537444_749750834336152_7863546310926926073_n.png);
  background-size: cover;
  
  color: red;
  margin-top: 10px;
  font-weight: bold;

}

.game_main{
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;

  background-image: url(/assets/img/530556201_740928238647808_5784113294969287064_n.jpg);

}

.mikata_HP{
  
}

.rog_box{
  width: 500px;
  height: 400px;
  background-color: aquamarine;
  
  

}

.command_all{
  
}

.blanc{
  width: 100vw;
  height: 50vh;


}

.command_list{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}

.enemy_hp{
  margin-top: 10px;
  font-weight: bold;
}
  
.inventory_box{
  max-height: 160px;
  overflow-y: auto;
  border: 2px;
}

#inventory_list{
  list-style-type: disc;
}
#inventory_list li{
display: flex;
justify-content: space-between;
}

.command_all{
  display: none;
}

.command_all.is_open{
  display: block;
}

.battle_btn{
  margin: 8px 0;
padding: 8px 16px;
border-radius: 8px;
border: 1px solid black;
cursor: pointer;
}
